name: Deploy Frontend to GitHub Pages

on:
  push:
    branches: [ add/frontend-ts ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          path: repo
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Install deps
        working-directory: repo/frontend
        run: npm ci
      - name: Build
        working-directory: repo/frontend
        run: npm run build
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: repo/frontend/dist
